.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.content {
    min-width: 25vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 16px;
}

.gridContainer>div {
    background-color:white;
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.btucopy {
    background-color: brown;
    color: aliceblue;
}
.btulogin {
    background-color:blue;
    color: aliceblue;
}
.bturegister {
    background-color:white;
    color: black;
}
.text{
    color: black;
}
.btn{
    background-color: white;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn {
    background-color: black;
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid black;
  }
  .btn:hover{
    background-color: white;
    color: black;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid white;
  }

  .btn2{
    background-color: white;
    border-radius: 10%;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn2 {
    background-color: black;
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid black;
  }
  .btn2:hover{
      
background-color: white;
color: black;
font-size: 1rem;
margin-top: 10px;
border: 2px solid white;
  }